<!DOCTYPE html>
<html>
  <head>
    <title>Phone System</title>
    <style>
    .line{
      background: transparent url('http://davidrhysthomas.co.uk/linked/strike.png') 0 50% repeat-x;
    }
    </style>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
      var socket = io.connect('http://localhost:3000');
      socket.on('update_conn_number', function(conn_num){
        //由Server端emit 'update_conn_number'
        $('#conn_num').html(conn_num);
      });

      //update table content css
      socket.on('update_client_table', function(box, tr_index){
        $('section#box'+box+' table tr:eq('+tr_index+')').toggleClass('line');
      });

      //update table content data
      socket.on('insert_client_data_to_table', function(name, region, phone, object){
        var last_id = parseInt(object) + 1;
        var last_id_text = $("section#box"+last_id+" table tr:last td:first").text();
        $("section#box"+last_id+" table tr:last").after("<tr><td>"+(parseInt(last_id_text)+1)+"</td><td>"+name+"</td><td>"+region+"</td><td>"+phone+"</td></tr>");
      });

      $(document).ready(function() {

        //set all the tr's id number
        for(var i = 1; i < 4; i++) {
          $("section#box" + i + " table tr:gt(0)").each(function(index){
            $(this).find("td:first").html(index+1);
            if(parseInt($(this).attr('status')) === 1) {
              $(this).addClass('line');
            }
          });
        }

        //set all the tr's action
        $('.table-condensed tr:gt(0)').on('click', function(){
          var box_id   = $(this).parents('table').attr('box');
          var tr_index = $(this).index();
          var data  = {
            'data_id' : $(this).attr('data_id'),
            'status' : $(this).attr('status')
          };
          $.post('/update_data', data, function(data){

          });
          socket.emit('update_table', box_id, tr_index);
        });
        $('#send_data').on('click', function(){
          var now_time = new Date();
          var now = now_time.getFullYear()+"-"+now_time.getMonth()+"-"+now_time.getDate()+" "+now_time.getHours()
                    +":"+now_time.getMinutes()+":"+now_time.getSeconds();
          var object_value  = $('#object').val();
          var name_value    = $('#name').val();
          var phone_value   = $('#phone').val();
          var region_value  = $('#region').val();
          var content_value = $('#content').val();
          var data = {
            'names': name_value,
            'phone': phone_value,
            'region': region_value,
            'contents': content_value,
            'objects': object_value,
            'times': now,
            'statuss': 0
          };
          var url = '/send_data';
          $.post(url, data, function(data2){
            if(data2 === 'ok') {
              // insert_data_to_table(name_value, region_value, phone_value, object_value);
              socket.emit('insert_data_to_table', name_value, region_value, phone_value, object_value);
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <div id="main">
    <header id="main">
      <h1>{Phone System}</h1>
      <h2>目前人數:<span id="conn_num"></span></h2>
    </header>

    <section id="box1">
      <header>
        <h3>{松年}</h3>
      </header>
      <form action="">
        <table class="table table-condensed" box="1">
          <tr>
            <td>編號</td>
            <td>姓名</td>
            <td>地區</td>
            <td>電話</td>
          </tr>
          <%datas.forEach(function(data, index){ if(data.object == 0) {%>
            <tr data_id="<%= data.id %>" status="<%= data.status%>">
              <td></td>
              <td><%= data.name %></td>
              <td><%= data.region %></td>
              <td><%= data.phone %></td>
            </tr>
          <%}});%>
        </table>
      </form>
    </section>

    <section id="box2">
      <header>
        <h3>{工程師}</h3>
      </header>
      <form action="">
        <table class="table table-condensed" box="2">
          <tr>
            <td>編號</td>
            <td>姓名</td>
            <td>地區</td>
            <td>電話</td>
          </tr>
          <%datas.forEach(function(data, index){ if(data.object == 1) {%>
            <tr data_id="<%= data.id %>" status="<%= data.status%>">
              <td></td>
              <td><%= data.name %></td>
              <td><%= data.region %></td>
              <td><%= data.phone %></td>
            </tr>
          <%}});%>
        </table>
      </form>
    </section>

    <section id="box3">
      <header>
        <h3>{紹成}</h3>
      </header>
      <form action="">
        <table class="table table-condensed" box="3">
          <tr>
            <td>編號</td>
            <td>姓名</td>
            <td>地區</td>
            <td>電話</td>
          </tr>
          <%datas.forEach(function(data, index){ if(data.object == 2) {%>
            <tr data_id="<%= data.id %>" status="<%= data.status%>">
              <td></td>
              <td><%= data.name %></td>
              <td><%= data.region %></td>
              <td><%= data.phone %></td>
            </tr>
          <%}});%>
        </table>
      </form>
    </section>

    <section id="data_section">
      <form action="" id="data_form">
        <table id="data_table" class="table table-bordered">
          <tr>
            <td>名稱</td>
            <td><input type="text" name="names" placeholder="名稱" id="name"></td>
          </tr>
          <tr>
            <td>電話</td>
            <td><input type="text" name="phone" placeholder="電話" id="phone"></td>
          </tr>
          <tr>
            <td>單位名稱</td>
            <td><input type="text" name="region" placeholder="單位名稱" id="region"></td>
          </tr>
          <tr>
            <td>備註內容</td>
            <td><textarea name="content" id="content" cols="30" rows="10"></textarea></td>
          </tr>
          <tr>
            <td>目標</td>
            <td>
              <select name="object" id="object">
                <option value="0">松年</option>
                <option value="1">工程師</option>
                <option value="2">紹成</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2"><button type="button" class="btn" id="send_data">送出</button></td>
          </tr>
        </table>
      </form>
    </section>

    <footer id="footer">Lighter copy right</footer>
  </body>
</html>